.body {
    background-color: #8BC5F9;
    margin-top: 100px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #002626
}

.content-container {
    background-color: #faf6f0;
    height: 600px;
    width: 800px;
}

.group-title {
    color: #002626;
    font-size: 18pt;
}

.text-instr {
    color: #002626;
    font-size: 11pt;
}

.text-area {
    background-color: white;
    border: 1.5pt solid #002626;
    color: #002626;
}

.add-ingredient {
    font-size: 12pt;
}