.body {
    background-color: #8BC5F9;
    margin-top: 100px;
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #002626
}

.content-container {
    background-color: #faf6f0;
    height: 90%;
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group-title {
    color: #002626;
    font-size: 18pt;
}

.top-group {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 70%;
    margin-bottom: 10px;
}

.ing-input {
    margin-right: 20px;
}

.text-instr {
    color: #002626;
    font-size: 11pt;
}

.text-area {
    background-color: white;
    border: 1.5pt solid #002626;
    color: #002626;
    margin-top: 6px;
}

.add-ingredient {
    font-size: 12pt;
    height: 25px;
    width: 125px;
}

.new-title {
    color: #002626;
    border: none;
    font-weight: lighter;
    font-size: 36pt;
    margin-bottom: 10px;
    margin-top: 10px;
}

.ingredient-container {
    margin-bottom: 10px;
}

.single-ingredient-container {
    display: flex;
    height: 25px;
    align-items: center;
}
.ing-list-container-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.ing-list-container {
    height: 150px;
    width: 85%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.ing-list {
    color: #002626;
    font-size: 10pt;
    margin-right: 6px;
}

@media (max-width: 850px) {
    .text-area {
        width: 60%;
    }
    .content-container {
        width: 80%;
    }
    .ingredient-container{
        width: 450px;
    }
    .ing-input {
        margin-right: 0;
    }
    .quan {
        margin-right: 10px;
    }
    .add-ingredient {
        margin-left: 44px;
    }
}

@media(max-width: 500px) {
    .new-title {
        font-size: 26pt;
    }
}