.r-list {
    background-color: #5C3955;
    min-height: calc(100vh - 100px);
    margin-top: 100px;
    margin-bottom: 0;
}

.my-recipes-title {
    font-weight: lighter;
    font-size: 44pt;
    padding-top: 25px;
    text-align: left;
    margin-left: 10%;
}

.singles-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.single-recipe-container{
    background-color: #8BC5F9;
    margin-bottom: 0;
    margin-left: 145px;
    margin-right: 145px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    width: 80%;
}

.indiv-recipe {
    display: flex;
    /* justify-content: space-evenly; */
    border-bottom: 2pt solid #1C7ad9;
    width: 100%;
    align-items: center;
}

.recipe-link {
    width: auto;
    height: 36px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.recipe-title {
    font-weight: lighter;
    font-size: 20pt;
    width: auto;
    position: absolute;
    left: 500px;
}

.icon {
    height: 17px;
}

.icon-container {
    display: flex;
    align-items: center;
}

.pencil {
    position: absolute;
    right: 450px;
}

.delete {
    position: absolute;
    right: 350px;
}

.list-pic {
    height: 75px;
    display: flex;
    align-content: center;
    position: relative;
    margin-left: 100px;
}

@media(max-width: 1250px) {
    .pencil {
        right: 250px
    }
    .delete {
        right: 200px;
    }
    .recipe-title {
        left: 275px;
    }
    .list-pic {
        margin-left: 50px;
        height: 50px;
    }
}

@media(max-width: 850px) {
    .pencil {
        right: 150px
    }
    .delete {
        right: 100px;
    }
    .recipe-title {
        left: 125px;
    }
    .list-pic {
        display: none
    }
}

@media(max-width: 500px) {
    .pencil {
        right: 100px
    }
    .delete {
        right: 55px;
    }
    .recipe-title {
        left: 45px;
        font-size: 14pt !important;
    }
    .my-recipes-title {
        font-size: 28pt;
    }
  .pencil {
      right: 100px;
  }
}

