
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 110px;
    background-color: antiquewhite;
}

.left-header {
    display: flex
}

.logo {
    height: 100px;
    margin-left: 50px;
    margin-right: 20px;
}

.btn {
    background-color: antiquewhite;
    color: dodgerblue;
    border: 2px solid dodgerblue;
    font-size: 18pt;
    margin-right: 50px;
}
