
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100vw;
    background-color: #faf6f0;
    position: fixed;
    top: 0;
}

.left-header {
    display: flex;
    background-color: #faf6f0;
    align-items: center;
    height: 100px;
}

nav {
    background-color: #faf6f0;
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    
}

.logo {
    height: 100px;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 0px;
    background-color: #faf6f0;
}

.lobster-link {
    height: 100px;
}

.title {
    background-color: #faf6f0;
    color: #1c7ad9;
    font-family: 'Lora', serif;
    font-weight: lighter;

}

.hamburger {
    display: none;
    height: 50px;
}

.btn {
    background-color: #faf6f0;
    color: #1c7ad9;
    border: 2px solid #1c7ad9;
    font-size: 16pt;
    font-family: 'Lora', serif;
    padding: 0;
}

.header-btn {
    border: 2px solid #faf6f0;
}



@media(max-width: 850px) {
    .nav-bar {
        width: 275px;
        justify-content: space-between;
        margin-right: 5;
    }
    .logo {
        margin-left: 25px;
        margin-right: 5px;
    }
    .header-btn {
        font-size: 14pt;
    }
}

@media(max-width: 600px) {
    .nav-bar {
        display: flex;
        flex-direction: column;
        height: 100px;
        align-items: flex-end;
        width: 150px;
        justify-content: center;
    }
    .title-link {
        width: 200px;
        margin-right: none;
    }
 
}

@media(max-width: 500px) {
    .logo {
        margin-left: 15px;
    }
}