.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100vw;
    background-color: #faf6f0;
    position: fixed;
    top: 0;
}

.left-header {
    display: flex;
    background-color: #faf6f0;
    align-items: center;
    height: 100px;
}

nav {
    background-color: #faf6f0;
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-right: 10px;
    
}

.logo {
    height: 100px;
    margin-left: 50px;
    margin-right: 20px;
    margin-bottom: 0px;
    background-color: #faf6f0;
}

.lobster-link {
    height: 100px;
}

.title {
    background-color: #faf6f0;
    color: #1c7ad9;
    font-family: 'Lora', serif;
    font-weight: lighter;
    margin-top: 29px;
}

.btn {
    background-color: #faf6f0;
    color: #1c7ad9;
    border: 2px solid #1c7ad9;
    font-size: 16pt;
    font-family: 'Lora', serif;
    /* width: 150px; */
    /* height: 30px; */
    padding: 0;
    /* width: auto; */
}

.header-btn {
    border: 2px solid #faf6f0;
}