.auth {
    background-color: #8BC5F9;
    min-height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.login-container {
    background-color: #faf6f0;
    border: 2px solid #1C7AD9;
    color: #1C7AD9;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    height: 400px;
    width:350px;
}
.inputs {
    background-color: white;
    border: 2pt solid #002626;
    color: #002626;
}

.top {
    margin-top: 60px;
}

.login {
    margin-bottom: 80px;
    border: 2px solid #1C7AD9;
    height: 40px;
    width: 75px;
}

@media (max-width: 500px) {
    .login-container {
        max-width: 300px;
        margin-top: 70px;
        margin-bottom: 50px;
        height: 475px;
    }
    .top {
        margin-top: 40px;
    }
}

@media (max-width: 300px) {
    .login-container {
        max-width: 250px;
    }
}